In [11]:
import pandas as pd
%matplotlib inline
import numpy as np
from matplotlib import pyplot as plt

In [5]:
filename = 'TB.csv'

In [6]:
data = pd.read_csv(filename)

In [7]:
data.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,new_sp,new_sn,new_su,new_ep,...,hivtest,hivtest_pos,hiv_cpt,hiv_art,hiv_tbscr,hiv_reg,hiv_ipt,hiv_reg_new,hiv_tbdetect,hiv_reg_new2
0,Afghanistan,AF,AFG,4,EMR,1980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,4,EMR,1981,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,4,EMR,1982,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1983,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1984,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_arry = data.values

In [10]:
print(data_arry)

[['Afghanistan' 'AF' 'AFG' ... nan nan nan]
 ['Afghanistan' 'AF' 'AFG' ... nan nan nan]
 ['Afghanistan' 'AF' 'AFG' ... nan nan nan]
 ...
 ['Zimbabwe' 'ZW' 'ZWE' ... 215379.0 32018.0 215379.0]
 ['Zimbabwe' 'ZW' 'ZWE' ... 125740.0 nan nan]
 ['Zimbabwe' 'ZW' 'ZWE' ... 168968.0 9176.0 168968.0]]

In [17]:
type(data_arry)

numpy.ndarray